<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Form</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{'/files' + ${file.id != null ? '/edit/' + file.id : '/create'}}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   placeholder="Enter file title"
                   th:value="${file.title}">
        </div>
        <div class="form-group">
            <label for="path">Path</label>
            <input type="text"
                   class="form-control"
                   id="path"
                   name="path"
                   placeholder="Enter file path"
                   th:value="${file.path}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>