<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Activate Email</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <style>
        .form-signin {
            width: 300px;
        }
        .container {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 40px;
        }
        .second-form {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="form-signin" action="/users/token/send" method="get">
        <h2 class="form-signin-heading">Please activate email</h2>
        <button type="submit" class="btn btn-lg btn-success btn-block">Send token</button>
    </form>
    <form class="form-signin second-form" action="/users/token/activate" method="get">
        <div class="form-group">
            <label for="token">Token</label>
            <input type="text" class="form-control" id="token" name="token" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>